*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Paket dependency manager
#.paket/paket.exe
paket-files/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Nuget outputs
release.cmd
release.sh
localpackages/
paket-files
/.paket/load/
*.orig
docs/content/license.md
docs/content/release-notes.md
_NCrunch_Paket
docs/content/paket-*.md
!docs/content/paket-folder.md
*.bak
System.Management.Automation.dll
.fake
docs/tools/FSharp.Formatting.svclog
docs/content/paket.exe
TestResult.xml
*.trx
tests/Paket.Tests/NuGetConfig/PasswordConfig.xml
paket.local
dotnetcore
.idea

.ionide/