source https://api.nuget.org/v3/index.json
//cache ./nupkgs versions: all

nuget ElectronNET.API
clitool ElectronNET.CLI
nuget Expecto >= 5.0
nuget FParsec 1.0.4-RC3
nuget FSharp.Data 3.0.0-beta
nuget runtime.win-x64.Microsoft.NETCore.App
nuget runtime.win-x64.Microsoft.NETCore.DotNetHostPolicy
nuget runtime.win-x64.Microsoft.NETCore.DotNetHostResolver
nuget runtime.win-x64.Microsoft.NETCore.DotNetAppHost
nuget runtime.linux-x64.Microsoft.NETCore.App
nuget runtime.linux-x64.Microsoft.NETCore.DotNetHostPolicy
nuget runtime.linux-x64.Microsoft.NETCore.DotNetHostResolver
nuget runtime.linux-x64.Microsoft.NETCore.DotNetAppHost
nuget System.Text.Encoding.CodePages
nuget Argu
nuget FSharp.Collections.ParallelSeq
nuget FSharpPlus
nuget DotNet.Glob
nuget FSharpx.Collections
nuget FSharp.Compiler.Service
nuget Sandwych.QuickGraph.Core
nuget FsPickler
nuget Uno.Wasm.Bootstrap
clitool Uno.Wasm.Bootstrap.Cli

group tools
    source https://api.nuget.org/v3/index.json
    nuget FAKE ~> 4
