@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

@for(int i=0;i<Model.Count();i++){
 <div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapse@(i)" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
        <pre>@Model.ElementAt(i)</pre>
      </div>
    </div>
  </div>
}
</div>
