@Model string



 <!-- Loads and initializes the library -->

  


 <!-- Example code -->
 <script type="text/javascript">
    // Simple function to style the tooltip for the given node.
    var styleTooltip = function(name, description) {
        return "<p class='name'>" + name + "</p><p class='description'>" + description + "</p>";
    };
    // Program starts here. Creates a sample graph in the
    // DOM node with the specified ID. This function is invoked
    // from the onLoad event handler of the document (see below).
    function main(container, data, triggers, options)
    {
        var cy = cytoscape({
            container: document.getElementById('cy'),
  style: [ // the stylesheet for the graph
    {
      selector: 'node',
      style: {
        'background-color': '#666',
        'label': 'data(id)'
      }
    },

    {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': '#ccc',
        'mid-target-arrow-color': '#ccc',
        'mid-target-arrow-shape': 'triangle',
        'curve-style': 'bezier'
      }
    }
  ],
        })

          var roots = [];
          var qtipname = function(text) { return {content:text, position:{my:'top center', at:'bottom center'},style:{classes:'qtip-bootstrap',tip:{width:16,height:8}},show:{event:'mouseover'},hide:{event:'mouseout'}};}

          data.forEach(function(element){
              var value = {};
              var name = element.ID;
              value.name = name;
              var desc;
              if(element.Desc === '')
              {
                desc = element.ID;
              }
              else
              {
                  desc= element.Desc;
              }
              value.description = desc;
              var node = cy.add({group:'nodes',data:{id:name}});
              node.qtip(qtipname(desc));
          });

            triggers.forEach(function(event){
              var parentID = event[0];
                  event[1].forEach(function(immediates){
                      immediates.forEach(function(target){
                          var childID = target;
                             cy.add({group:'edges',data:{source:parentID,target:childID}})

                      })
                     
                  })
          });
          options.forEach(function(event){
              var parentID = event[0];
              event[1].forEach(function(option){
                  var optionName = option[0];
                  option[1].forEach(function(target){
                      if(cy.$id(target).length > 0){
                        var edge = cy.add({group:'edges',data:{source:parentID,target:target}});
                                                if(optionName !== ""){
                                                    edge[0].qtip(qtipname(optionName));
                                                }
                        
                      }
                  })
              })
          })
          cy.fit();
          var layout = cy.layout({name:'dagre'});
            layout.run();
            cy.fit();
          
    };
 </script>

<div class="row">
  <div class="col-md-4" id="dropzone" style="height=200px">
      <ul>

      </ul>
  </div>
  <div class="col-md-8">
      <ul>
          <li>One</li>
          <li>Two</li>
      </ul>
  </div>
    <div class="test" id="cy" width=1000px height=1000px></div>

</div>

@section Scripts {
<script>
$(function() {
  $.ajax({
      url: "GetData",
      data: {"file":"@Model"}
  })
  .done(function(data){
      main(null, JSON.parse(data.item1), JSON.parse(data.item2),JSON.parse(data.item3));
  })});

</script>
 <script src="https://d3js.org/d3.v3.min.js"></script>
 <script type="text/javascript" src="../js/dagre-d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.6/cytoscape.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
<link rel="stylesheet" href ="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css"/>
<script type="text/javascript" src="../js/cytoscape-qtip.js"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.css" integrity="sha256-7ZmxuRX3e7bQScYnzl6vtCBxtjf1jzqU4xnV5MoDIrw=" crossorigin="anonymous" />
}