@Model string



 <!-- Loads and initializes the library -->

  


 <!-- Example code -->
 <script type="text/javascript">
    // Simple function to style the tooltip for the given node.
    var styleTooltip = function(name, description) {
        return "<p class='name'>" + name + "</p><p class='description'>" + description + "</p>";
    };
    // Program starts here. Creates a sample graph in the
    // DOM node with the specified ID. This function is invoked
    // from the onLoad event handler of the document (see below).
    function main(container, data, triggers, options)
    {
        var cy = cytoscape({
            container: document.getElementById('cy'),
  style: [ // the stylesheet for the graph
    {
      selector: 'node',
      style: {
        'background-color': '#666',
        'label': 'data(id)'
      }
    },

    {
      selector: 'edge',
      style: {
        'width': 3,
        'line-color': '#ccc',
        'mid-target-arrow-color': '#ccc',
        'mid-target-arrow-shape': 'triangle',
        'curve-style': 'bezier'
      }
    }
  ],
        })
        /* var g = new dagreD3.graphlib.Graph({multigraph:true, compound:true})
            .setGraph({ranker:"network-simplex", acyclicer:"greedy"})
            .setDefaultEdgeLabel(function() { return {}; })
            .setDefaultNodeLabel(function(){return {};}); */

      
          //var parent = graph.getDefaultParent();
          var roots = [];
          var uniqueID = 1;

          data.forEach(function(element){
              var value = {};
              var name = element.ID;
              value.name = name;
              var desc;
              if(element.Desc === '')
              {
                desc = element.ID;
              }
              else
              {
                  desc= element.Desc;
              }
              value.description = desc;
              var node = cy.add({group:'nodes',data:{id:name}});
              node[0].qtip({content:desc, position: {
						my: 'top center',
						at: 'bottom center'
					},
					style: {
						classes: 'qtip-bootstrap',
						tip: {
							width: 16,
							height: 8
						}
					},  show: {
        event: 'mouseover'
    },
    hide: {
        event: 'mouseout'
    }})
              //g.setNode(name, value);
              //g.setNode(name+'G', {label:name+'G'});
              //g.setNode(name+'GP', {label:name+'GP'});
              //g.setParent(name+'GP',name+'G');
             // g.setParent(name, name+'G');
          });
          /* g.nodes().forEach(function(v) {
            if(v !== undefined){
                            var node = g.node(v);
            // Round the corners of the nodes
            node.rx = node.ry = 5;
            }*/

            //});
            triggers.forEach(function(event){
              var parentID = event[0];
              //if(g.node(parentID) !== undefined){
                  event[1].forEach(function(immediates){
                      immediates.forEach(function(target){
                          var childID = target;
                           // if(g.node(childID) !== undefined){
                             //   uniqueID = uniqueID + 1;
                             cy.add({group:'edges',data:{source:parentID,target:childID}})
                             //   g.setEdge(parentID, childID, {arrowhead:'vee', style:' stroke-dasharray: 5, 5' }, uniqueID);
                           // }
                      })
                     
                  })
              //}
          });
          options.forEach(function(event){
              var parentID = event[0];
              event[1].forEach(function(option){
                  var optionName = option[0];
                  option[1].forEach(function(target){
                      if(cy.$id(target).length > 0){
                        var edge = cy.add({group:'edges',data:{source:parentID,target:target}});
                                                if(optionName !== ""){
                        edge[0].qtip({content:optionName, position: {
						my: 'top center',
						at: 'bottom center'
					},
					style: {
						classes: 'qtip-bootstrap',
						tip: {
							width: 16,
							height: 8
						}
					},  show: {
        event: 'mouseover'
    },
    hide: {
        event: 'mouseout'
    }});}
                      }
                  })
              })
          })
          cy.fit();
          var layout = cy.layout({name:'dagre'});
            layout.run();
            cy.fit();
          /*options.forEach(function(event){
              var parentID = event[0];
              
              g.setNode(name+'GO', {label:name+'GO'});
              
              g.setParent(name+'GO',name+'G');
              if(g.node(parentID) !== undefined){   
                event[1].forEach(function(option){
                    var optionName = option[0];
                    option[1].forEach(function(target, i){
                        var childID = target;
                        g.setNode(parentID+'GO'+i, {label:parentID+'GO'+i});
                        g.setParent(parentID+'GO'+i, parentID+'GO')
                        g.setEdge(parentID, parentID+'GO'+i)
                        uniqueID = uniqueID + 1;
                        //g.setEdge(parentID+'GP', parentID+'GO', {label:"a"}, uniqueID)
                        //g.setNode(parentID+i, {label:parentID+i})
                        
                        //g.setEdge(parentID+'G', parentID+i, {label:parentID+i}, uniqueID)
                        //g.setParent(parentID+i, parentID+'GO')
                        if(g.node(target) !== undefined){
                            uniqueID = uniqueID + 1;
                            g.setEdge(parentID+'GO'+i, childID, {label:optionName, arrowhead:'vee', minlen:2}, uniqueID);
                        }
                    })
                })
              }
          });*/
          /*
                    
            // Create the renderer
            var render = new dagreD3.render();

            // Set up an SVG group so that we can translate the final graph.
            var svg = d3.select("svg"),
                svgGroup = svg.append("g");
                

            // Run the renderer. This is what draws the final graph.
            render(d3.select("svg g"), g);
            svgGroup.selectAll("g.node")    
                .attr("title", function(v) {return styleTooltip(v, g.node(v).description)})
                .each(function(v) { $(this).tooltip({ container: "body", html: true }); });

            // Center the graph
            var xCenterOffset = (svg.attr("width") - g.graph().width) / 2;
            svgGroup.attr("transform", "translate(" + xCenterOffset + ", 20)");
            svg.attr("height", g.graph().height + 40);

           // zoom = d3.zoom().on("zoom", function(){
             //   svgGroup.attr("transform",d3.event.transform);
            //});
            zoom = d3.behavior.zoom().on("zoom", function() {
            
            svgGroup.attr("transform", "translate(" + d3.event.translate + ")" +
                                        "scale(" + d3.event.scale + ")");
            });
svg.call(zoom);*/
    };
 </script>

<div class="row">
  <div class="col-md-4" id="dropzone" style="height=200px">
      <ul>

      </ul>
  </div>
  <div class="col-md-8">
      <ul>
          <li>One</li>
          <li>Two</li>
      </ul>
  </div>
    <div class="test" id="cy" width=1000px height=1000px></div>

</div>

@section Scripts {
<script>
$(function() {
  $.ajax({
      url: "GetData",
      data: {"file":"@Model"}
  })
  .done(function(data){
      main(null, JSON.parse(data.item1), JSON.parse(data.item2),JSON.parse(data.item3));
  })});

</script>
 <script src="https://d3js.org/d3.v3.min.js"></script>
 <script type="text/javascript" src="../js/dagre-d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.6/cytoscape.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
<link rel="stylesheet" href ="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css"/>
<script type="text/javascript" src="../js/cytoscape-qtip.js"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.css" integrity="sha256-7ZmxuRX3e7bQScYnzl6vtCBxtjf1jzqU4xnV5MoDIrw=" crossorigin="anonymous" />
}