@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
@foreach(var file in Model){
  <tr><td><a asp-controller="" 
   asp-action="Graph3" 
   asp-route-file="@file">
    @file</a></td></tr>
  
}
</table>