@model CK2Events.ViewModels.SettingsViewModel

@using (Html.BeginForm("Settings", "Home", null, FormMethod.Post, false, new {@class="form-horizontal"})){
    <div class="form-group">
        <label asp-for="settings.gameDirectory" class="control-label col-md-3"></label>
        <input asp-for="settings.gameDirectory" class="form-control col-md-8" readonly/>
        <a class="btn btn-default col-md-1" asp-area="" asp-controller="Home" asp-action="SetFolder">Set game folder</a>
    </div>
    <button type="submit" class="btn">Save</button>
}