@model CK2Events.ViewModels.SettingsViewModel

@using (Html.BeginForm("Settings", "Home", null, FormMethod.Post, false, new {@class="form"})){
    @if(Model.settings.gameDirectory == ""){
        @:Please select the game directory
    }
            @Html.DisplayFor(x => x.settings.gameDirectory)
            @Html.HiddenFor(x => x.settings.gameDirectory)
    @if(!Model.validDirectory && Model.settings.gameDirectory == ""){
        @:Are you sure this is the game directory? Cannot find CK2Game.exe, the localisation folder or the events folder
    }
    @if(Model.isElectronActive){
        <a asp-area="" asp-controller="Home" asp-action="SetFolder">Set events folder</a>
    }
    <button type="submit" class="btn">Save</button>
}