body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.clusters rect {
    fill: #00ffd0;
    stroke: #999;
    stroke-width: 1.5px;
  }
  
  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
  }
  
  .node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  
  .edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
  }
  
/* This styles the title of the tooltip */
.tooltip .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
  }
  
  /* This styles the body of the tooltip */
  .tooltip .description {
    font-size: 1.2em;
  }

  svg {
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
  }

  .edgePath path.path {
    stroke: #333;
    fill: none;
    stroke-width: 1.5px;
  }

  #cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }